/* header nav */
html {
  scroll-behavior: smooth;
}

body {
  min-width: 350px;
}

.header .navbar{
  padding: 0 1rem;
}

.links-navbar {
  flex-direction: row;
}

.header .burger {
  display: none;
}

.links,
.navigation {
  flex-grow: 1;
}

.links-navbar__item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 4px;
}

.navigation {
  display: flex;
  font-size: 1rem;
}

.navigation ul{
  flex-direction: row;
}

.navigation .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.4rem;
}

.navigation-mobile {
  height: 10rem;
  overflow: hidden;
  padding-left: 2rem;
  transition: all 0.5s;
}

.navigation-mobile .nav-link {
  color: rgba(255,255,255,0.7);
}

.navigation-mobile .nav-link:hover {
  color: #fff;
}

.hidden-nav {
  height: 0;
  transition: all 0.5s;
}

@media (max-width: 576px) {
  .navigation {
    display: none;
  }

  .header .burger {
    display: inline;
  }
}

/* header teaser */

.profile-teaser {
  padding:  1rem 0;
  background-color: skyblue;
  color: #fff;
}

.profile-teaser img {
  border-radius: 10px;
  width: 240px;
  height: 240px;
  margin-right: 3rem;
}

@media (max-width: 768px) {
  .container-sm {
    max-width: 590px;
  }
}

@media (max-width: 576px) {
  .profile-teaser__beginning {
    margin-bottom: 0px;
  }
  .profile-teaser img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .profile-teaser .btn {
    width: 100%;;
  }
  .container-sm {
    flex-direction: column;
    align-items: center;
  }
}

/* experience */

.experience,
.portfolio {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* educational schedule */

.experience__title,
.portfolio__title {
  font-weight: bold;
  color: #008cba;
}

.schedule {
  display: flex;
  justify-content: space-between;
  font-size: 9rem;
  color: skyblue;
  margin-bottom: 2rem;
}

.schedule__stage,
.schedule__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule__stage {
  width: 20%;
  cursor: pointer;
  transition: color .3s;
}
.schedule__stage:last-child {
  font-size: 13rem;
  margin-left:1.5rem;
}

.schedule__stage:hover {
  color: #008cba;
}

@media (max-width: 992px) {
  .schedule__stage {
    font-size: 9rem;
  }
  .schedule{
    margin-right: 2rem;
  }

  .schedule__arrow {
    font-size: 8rem;
  }
  .schedule__stage:last-child {
    margin-left: 2.5rem;
  }
}

@media (max-width: 768px) {
  .schedule {
    justify-content: center;
  }
  .schedule__stage {
    font-size: 7.5rem;
  }

  .schedule__arrow {
    font-size: 5.5rem;
  }
  .schedule__stage:last-child {
    font-size: 9rem;
    margin-left:1.5rem;
  }
}
@media (max-width: 576px) {

  .experience__title,
  .portfolio__title {
    text-align: center;
  }

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;

    /* to not to show vertical schedule */

    display: none 
  }
  .schedule__arrow {
    font-size: 3rem;
    transform: rotate(90deg);
  }
  .schedule__stage {
    font-size: 5rem;
  }
  .schedule__stage:last-child {
    margin-left:0;
  }
}

/* educational list */

.link__description {
  position: relative;
  bottom: 7px;
}

.list-group-item:last-child {
  padding: 0.75rem 0;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.list-group-item__title,
.list-group-item__row {
  padding: 0 1.25rem;
}

.list-group-item__title {
  margin-bottom: 0.5rem;
}

.list-group-item__row:hover {
  background-color: skyblue;
}

.list-group-item__link:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.list-group-item__link {
  position: relative;
  transition: all .5s;
  color: #222;

}

.list-group-item__link:hover:after {
  content: 'click to see info';
  width: 65px;
  height: max-content;
  text-align: center;
  padding: 1px 5px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  color: #aaa;
  font-weight: bolder;
  font-size: 12px;
  z-index: 1;
  top: 15%;
  left: 105%;
  opacity: 100%;
  animation: opacity 1.5s;
}

.schedule .active {
  color: #008cba;
} 

.experience__list .active {
  background-color: skyblue;
} 

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 100;}
}

/* portfolio */

.portfolio {
  background-color: #f8f9fa;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
}

.swiper-slide__image {
  height: 200px; 
  width: 100%; 
  display: block;
  filter: blur(10px);
  transition: all 0.2s;
}

.swiper-slide__image:hover {
  filter: blur(0px);
}

.card-body {
  background-color: #f0f8ff;
}


.card-header {
  background-color: #8dcaff
}

.description {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__text {
  margin: 1rem;
}

.card-navigator {
  padding: 0 1rem;
  background-color: #e5f0f6;
  z-index: 1;
}

/* end */
.contacts {
  padding: 2rem;
}


.contact-intro {
  margin: 0 auto;
}

.profile-small {
  height: 200px;
}

.font-weight-bold {
  color: #008cba;
}

.contacts .links-navbar {
  justify-content: center;
}

.contacts .links-navbar__item:hover {
  background-color: #f0f8ff;
  border-radius: 50%;
}